BODY, P, H1, H2, H3, H4, H5, H6 {
	color: black;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	padding-bottom: 0pt;
	padding-left: 15pt;
	padding-right: 0pt;
	padding-top: 0pt;
}

BODY {
	color: black;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	padding-bottom: 0pt;
	padding-left: 15pt;
	padding-right: 0pt;
	padding-top: 0pt;
	background-color: #c0c0c0;
	color: #000000;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	letter-spacing: 0pt;
	margin: 0pt;
	padding: 0pt;
	text-align: left;
	text-indent: 0pt;
}

span.palavraReservada { color: #0000FF; font-weight: bold }
H1, H2, H3, H4, H5, TH {
	color: #000000;
	font-weight: bold;
}

H1 {
	color: #000000;
	font-weight: bold;
	background-color: #c0c0c0;
	color: #0000FF;
	font-family: Arial, sans-serif;
	font-size: 16pt;
}

H2 {
	background-color: #c0c0c0;
	font-family: Arial, sans-serif;
	font-size: 14pt;
}

H3 {
	background-color: #c0c0c0;
	font-family: Arial, sans-serif;
	font-size: 12pt;
}

H4 {
	background-color: #c0c0c0;
	font-size: 10pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	padding-left: 0pt;
	padding-top: 0pt;
}

.CODE {
	background-color: #f3f3f3;
	border-color: #c0c0c0;
	border-style: outset;
	border-width: 1pt;
	color: #000000;
	font-family: "Courier New";
	font-size: 12pt;
	margin: 20pt;
	padding: 10pt;
}

.MONITOR {
	background-color: #000000;
	border-color: #c0c0c0;
	border-style: outset;
	border-width: 1px;
	color: #ffffff;
	font-family: "Courier New";
	font-size: 12pt;
	margin: 20pt;
	padding: 10pt;
}

.SINTAX {
	background-color: #f3f3f3;
	border-color: #c0c0c0;
	border-style: outset;
	border-width: 1pt;
	color: #000000;
	font-family: "Courier New";
	font-size: 12pt;
	font-weight: bolder;
	margin: 20pt;
	padding: 10pt;
}

a:link {
	color: #0000ff;
	font-weight: bolder;
}

a:hover {
	color: #ff0000;
	font-weight: bolder;
}

a:active {
	color: #008000;
	font-weight: bolder;
}

a:selected {
	color: #0000ff;
	font-weight: bolder;
}

.TABELA {
	background-color: #f3f3f3;
	border-color: #c0c0c0;
	font-family: "Courier New";
	font-size: 10pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
}